Source: arora
Section: web
Priority: extra
Maintainer: Sune Vuorela <debian@pusling.com>
Build-Depends: debhelper (>= 5), qtbase5-dev, libqt5webkit5-dev, qtscript5-dev, qtdeclarative5-dev, qttools5-dev-tools, libqt5opengl5-dev
Standards-Version: 3.9.5

Package: arora
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: www-browser
Description: Arora is an open-source browser project that aims to build a cross-platform
 WebKit browser that integrates with every desktop.
